/* src/styles/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

.cards-container::-webkit-scrollbar {
  width: 50px;
  height: 8px;
}

/* Track */
.cards-container::-webkit-scrollbar-track {
  background: rgb(243, 243, 243);
  border-radius: 20px;
}

/* Handle */
.cards-container::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
  border-radius: 20px;
}

/* Handle on hover */
.cards-container::-webkit-scrollbar-thumb:hover {
  background: #bebebe;
}
